.header {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.header p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}

.header a + a {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.right a {
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.bold {
  font-weight: bold;
}
